<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <appSettings>
    <!--<add key="CollateralServiceApiLogin" value="alfa\atryhleb" />
    <add key="CollateralServiceApiPassword" value="ZAQ!2wsxCDE#4rfv" />
    <add key="CollateralServiceApi" value="https://dacollapp04.alfa.bank.int:15443" />-->
    <add key="CollateralServiceApiLogin" value="alfa\atryhleb"/>
    <add key="CollateralServiceApiPassword" value="ZAQ!2wsxCDE#4rfv"/>
    <add key="CollateralServiceApi" value="https://kacollapu03.alfa.bank.int:15443"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
